<div class="experience">
    <div class="card-wrapper">
    <mat-card>
        <mat-card-title>Experience</mat-card-title>
        <mat-card-subtitle>C# / .Net Core / .Net Framework: 3 Years</mat-card-subtitle>
        <mat-progress-bar mode="determinate" color="warn" value="30"></mat-progress-bar>
        <mat-card-subtitle>TDD and Agile Practices: 3 Years</mat-card-subtitle>
        <mat-progress-bar mode="determinate" color="warn" value="30"></mat-progress-bar>
        <mat-card-subtitle>Google Cloud: 2 Years</mat-card-subtitle>
        <mat-progress-bar mode="determinate" color="warn" value="20"></mat-progress-bar>
        <mat-card-subtitle>Angular: 1 Year</mat-card-subtitle>
        <mat-progress-bar mode="determinate" color="warn" value="10"></mat-progress-bar>
        <mat-card-subtitle>AWS: 1 Year</mat-card-subtitle>
        <mat-progress-bar mode="determinate" color="warn" value="10"></mat-progress-bar>
        <mat-card-subtitle>React: 1 Year</mat-card-subtitle>
        <mat-progress-bar mode="determinate" color="warn" value="10"></mat-progress-bar>
    </mat-card>
    </div>
</div>
